@mixin font($weight,$size) {
  font-family:var(--font-family);
  font-style:var(--font-style); 
  font-weight:$weight;
  font-size:$size;
}

@mixin margintop($margintop) {
  margin-top:$margintop;
}
@mixin marginleft($marginleft) {
  margin-left:$marginleft;
}
@mixin marginright($marginright) {
  margin-right:$marginright;
}

.login-header
{
@include font(700,32px);
margin-top: 80px;
color: var(--color-darkBlue);

}

.login-para
{
@include font(500,16px);
color: var(--color-gray);
}

.language-div
{
  box-sizing: border-box;

/* Auto layout */
@include margintop(0px);
display: flex;
flex-direction: row;
justify-content: center;
padding: 5px 10px;
gap: 4px;

position: absolute;
left: calc(50% - 108px/2 + 212px);

background : var(--color-offWhite);
/* Divider */

border: 0.770833px solid rgba(178, 175, 190, 0.2);
border-radius: 8px;
}
.div{
  background : var(--color-white);
}
.form{
  @include marginleft(70px);
  @include marginright(70px);
  
}
.language-dropdown{
@include font(400,16px);
color: var(--color-darkestBlue);
background : var(--color-offWhite);
}

.btn-darkblue
{
 
@include margintop(30px);
background : var(--color-darkBlue);
border-radius: 12px;
@include font(700,18px);
color: var(--color-white);
}

.link-forgot-username
{
@include font(400,14px);
text-decoration-line: underline;
color: var(--color-gray);
}

.lbl-username
{
@include font(500,14px);
line-height: 150%;
color: var(--color-darkestBlue);
}
